@font-face {
    font-family: "Gothic";
    src: url(../fonts/Gothic_A1/GothicA1-Regular.ttf);
}

@font-face {
    font-family: "MedievalSharp";
    src: url(../fonts/MedievalSharp/MedievalSharp-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Gothic";
    border: 0;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

}

h1 {
    font-family: "MedievalSharp";
    font-size: 5rem;
    color: #fbcea0;
}

h2 {
    font-family: "MedievalSharp";
    font-size: 4rem;
    color: #fbcea0;
}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.party {
    position: relative;
    bottom: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box_video {
    height: 100vh;
    position: relative;
    z-index: -1;
}

.avant_vidéo {
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

ul {
    padding-left: 0;
    margin-top: 6vh;
}

li a {
    text-decoration: none;
    color: #fbcea0;
    font-family: "MedievalSharp";
    font-size: 2rem;
    margin-left: 1rem;
}

.btn_buy {
    background-color: #fbcea0;
    color: black;
    border:solid #fbcea0;
    border-radius: 5px;
    padding: 1rem 2rem;
}

li {
    display: inline;
}

.nav {
    display: flex;
    justify-content: space-around;
}

.logo-hg {
    width: 10%;
}

.get {
    border: solid 2px #fbcea0;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem;
    font-family: "MedievalSharp";
    font-size: 4rem;
    color: white;
    backdrop-filter: blur(0px);
}

body {
    background-image: url(../img/smoke-bg.jpg);
}

.awards {
    display: flex;
    justify-content: center;
    background-image: url(../img/awards-bg.png);
    background-size: cover;
    border: solid 1px #fbcea0;
    width: 75%;
    height: 30vh;
    margin: 0 auto;
    border-radius: 12px;
}

.award {
    display: flex;
    align-items: center;
}

#race_h2 {
    margin-top: 20vh;
    margin-left: 7vw;

}

.race {
    display: flex;
    gap: 5vw;
    margin: 0 auto;
    justify-content: center;
}
.race_g {
    border: solid 1px #fbcea0;
    width: 30vw;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: url(/assets/img/races-bg.jpg);
    background-size: cover;
}    
.race_d {
    border: solid 1px #fbcea0;
    width: 30%;
    height: 30vh;
    border-radius: 12px;
}

.text_awards {
    padding-right: 2vh;
}

.icone_award {
    max-width: 15vw;<div class="box_icone_race" ><div class="box_icone_race" ><div class="box_icone_race" ><div class="box_icone_race" ><div class="box_icone_race" ><div class="box_icone_race" ><div class="box_icone_race" >
    max-width: 15vw;<div class="box_icone_race" ><div class="box_icone_race" ><div class="box_icone_race" ><div class="box_icone_race" ><div class="box_icone_race" ><div class="box_icone_race" ><div class="box_icone_race" >
    max-width: 15vw;<div class="box_icone_race" ><div class="box_icone_race" ><div class="box_icone_race" ><div class="box_icone_race" ><div class="box_icone_race" ><div class="box_icone_race" ><div class="box_icone_race" >
}

.text_awards p {
    font-family: "Gothic";
    font-size: 1rem;
    color:white;
}

.text_awards h2 {
    font-family: "MedievalSharp";
    font-size: 2rem;
    color: #fbcea0;
    padding-left: 1rem;

}

.race h2 {
    font-family: "MedievalSharp";
    font-size: 2rem;
    color: #fbcea0;
    padding-left: 1rem;
}

.icone_race {
    margin-top: 3vh;
    width: 150px;
    height: 150px;
    margin: 3vh;
    margin-bottom: 0;
}

.race_h2 {
    position: relative;
    bottom: 20vh;
}

.text_icone_race {
    text-decoration: none;
    padding: 1rem 2rem;
    font-family: "MedievalSharp";
    font-size: 2rem;
    color: white;
    display: inline-block;
    padding-top: 2rem;
}

.box_icone_race {
    display: flex;
    flex-direction: column;
    align-items: center;

}