@font-face {
    font-family: "Gothic";
    src: url(../fonts/Gothic_A1/GothicA1-Regular.ttf);
}

@font-face {
    font-family: "MedievalSharp";
    src: url(../fonts/MedievalSharp/MedievalSharp-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Gothic";
    border: 0;
    margin: 0;
}

h1 {
    font-family: "MedievalSharp";
    font-size: 3rem;
    color: #fbcea0;
}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.party {
    position: relative;
    bottom: 30vh;
}

.box_video {
    height: 100vh;
}

.avant_vidéo {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
}

ul {
    padding-left: 0;
    margin-top: 3vh;
}

li a {
    text-decoration: none;
    color: #fbcea0;
    font-family: "MedievalSharp";
    font-size: 1rem;
    margin-left: 1rem;
}

.btn_buy {
    background-color: #fbcea0;
    color: black;
    border:solid #fbcea0;
    border-radius: 5px;
    padding: 1rem 2rem;
}

li {
    display: inline;
}

.nav {
    display: flex;
    justify-content: space-around;
}

.logo-hg {
    width: 10%;
}

.party {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get {
    border: solid 2px #fbcea0;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem;
    font-family: "MedievalSharp";
    font-size: 3rem;
    color: #fbcea0;
}

main {
    background-image: url(../img/smoke-bg.jpg);
}

.awards {
    background-image: url(../img/awards-bg.png);
    border: solid 2px #fbcea0;
    width: 30vh;
    height: 30vh;
}
.race_g {
    border: solid 2px #fbcea0;
    width: 30vh;
    height: 30vh;
}
.race_d {
    border: solid 2px #fbcea0;
    width: 30vh;
    height: 30vh;
}
